In [1]:
import pandas
import numpy as np
import seaborn as sns
from scipy import stats

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

from matplotlib import pyplot as plt

Churners = pandas.read_csv("BankChurners.csv")
Churners_original = pandas.read_csv("BankChurners.csv")
numerical = ["Customer_Age", "Dependent_count", "Months_on_book", "Total_Relationship_Count", "Months_Inactive_12_mon", "Contacts_Count_12_mon", "Credit_Limit", "Total_Revolving_Bal", "Avg_Open_To_Buy", "Total_Amt_Chng_Q4_Q1", "Total_Trans_Amt", "Total_Trans_Ct","Total_Ct_Chng_Q4_Q1", "Avg_Utilization_Ratio", "Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1","Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2"]
nonnumerical = ["Education_Level", "Income_Category", "Attrition_Flag", "Gender", "Marital_Status", "Card_Category"]

Churners.isnull().sum()
Churners

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.999910
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.999940
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.999980
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.999870
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.999980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,...,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462,0.000191,0.999810
10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,...,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511,0.995270,0.004729
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,...,5409.0,0,5409.0,0.819,10291,60,0.818,0.000,0.997880,0.002118
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,...,5281.0,0,5281.0,0.535,8395,62,0.722,0.000,0.996710,0.003294
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,...,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377

In [2]:
def find_percantage(cat_name):
    cat_variables = [var for var in Churners[cat_name].to_list() if var != "Unknown" and type(var) != float]
    cat_probability = {}
    cat_len = len(cat_variables) 
    for var in cat_variables:
        prob = cat_variables.count(var)/cat_len
        if prob in cat_probability.values():
            continue
        else:
            cat_probability[var] = prob
            
    return cat_probability
        
    
marital = ["Married", "Single", "Divorced"]
education = ["Uneducated", "Graduate", "College", "High School", "Doctorate", "Post-Graduate"]
income = ["Less than $40K","$40K - $60K","$80K - $120K","$60K - $80K","$120K +"]

marital_probability = list(find_percantage("Marital_Status").values())
education_probability = list(find_percantage("Education_Level").values())
income_probability = list(find_percantage("Income_Category").values())

print(education, " : ", education_probability)
print(income, " : ", income_probability)
print(marital, " : ", marital_probability)

for i, elem in enumerate(Churners["Marital_Status"]):
    if elem == "Unknown" or type(elem) == float :
        arr = np.random.choice(marital, 1, p=marital_probability)
        upd = "".join(arr)
        Churners.at[i, "Marital_Status"] = upd
        
for i, elem in enumerate(Churners["Income_Category"]):
    if elem == "Unknown" or  type(elem) == float :
        arr = np.random.choice(income, 1, p=income_probability)
        upd = "".join(arr)
        Churners.at[i, "Income_Category"] = upd
        
for i, elem in enumerate(Churners["Education_Level"]):
    if elem == "Unknown"  or type(elem) == float:
        arr = np.random.choice(education, 1, p=education_probability)
        upd = "".join(arr)
        Churners.at[i, "Education_Level"] = upd
            
Churners

['Uneducated', 'Graduate', 'College', 'High School', 'Doctorate', 'Post-Graduate']  :  [0.23385223048327136, 0.36338289962825276, 0.17274628252788105, 0.11768122676579926, 0.05994423791821561, 0.052393122676579924]
['Less than $40K', '$40K - $60K', '$80K - $120K', '$60K - $80K', '$120K +']  :  [0.1555185801442041, 0.3950083194675541, 0.17027176927343315, 0.1985579589572934, 0.08064337215751526]
['Married', 'Single', 'Divorced']  :  [0.499786734911495, 0.4204521219876306, 0.07976114310087438]

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.999910
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.999940
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.999980
3,769911858,Existing Customer,40,F,4,High School,Single,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.999870
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.999980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,...,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462,0.000191,0.999810
10123,710638233,Attrited Customer,41,M,2,High School,Divorced,$40K - $60K,Blue,25,...,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511,0.995270,0.004729
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,...,5409.0,0,5409.0,0.819,10291,60,0.818,0.000,0.997880,0.002118
10125,717406983,Attrited Customer,30,M,2,Graduate,Married,$40K - $60K,Blue,36,...,5281.0,0,5281.0,0.535,8395,62,0.722,0.000,0.996710,0.003294
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,...,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377

In [3]:
for cat in ["Gender", "Education_Level", "Marital_Status"]:
    enc = LabelEncoder()
    enc.fit(Churners[cat])
    Churners[cat] = enc.transform(Churners[cat])
    
income_map = {"Less than $40K": 20000,
              "$40K - $60K": 50000,
              "$80K - $120K": 100000,
              "$60K - $80K": 70000,
              "$120K +": 130000}

card_map = {"Blue": 1,
           "Silver": 2,
           "Gold": 3,
           "Platinum": 4}

attrition_map = {"Existing Customer": 0,
                 "Attrited Customer": 1}

Churners["Income_Category"] = Churners["Income_Category"].map(income_map)
Churners["Card_Category"] = Churners["Card_Category"].map(card_map)
Churners["Attrition_Flag"] = Churners["Attrition_Flag"].map(attrition_map)


Churners

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,0,45,1,3,3,1,70000,1,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.999910
1,818770008,0,49,0,5,2,2,20000,1,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.999940
2,713982108,0,51,1,3,2,1,100000,1,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.999980
3,769911858,0,40,0,4,3,2,20000,1,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.999870
4,709106358,0,40,1,3,5,1,70000,1,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.999980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,0,50,1,2,2,2,50000,1,40,...,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462,0.000191,0.999810
10123,710638233,1,41,1,2,3,0,50000,1,25,...,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511,0.995270,0.004729
10124,716506083,1,44,0,1,3,1,20000,1,36,...,5409.0,0,5409.0,0.819,10291,60,0.818,0.000,0.997880,0.002118
10125,717406983,1,30,1,2,2,1,50000,1,36,...,5281.0,0,5281.0,0.535,8395,62,0.722,0.000,0.996710,0.003294
10126,714337233,1,43,0,2,2,1,20000,2,25,...,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377

In [4]:
Churners = Churners[(np.abs(stats.zscore(Churners)) < 3).all(axis=1)]
Churners

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
5,713061558,0,44,1,2,2,1,50000,1,36,...,4010.0,1247,2763.0,1.376,1088,24,0.846,0.311,0.000055,0.999940
10,708790833,0,42,1,5,5,1,130000,1,31,...,6748.0,1467,5281.0,0.831,1201,42,0.680,0.217,0.000191,0.999810
14,712396908,0,57,0,2,2,1,20000,1,48,...,2436.0,680,1756.0,1.190,1570,29,0.611,0.279,0.000114,0.999890
19,709327383,0,45,0,2,2,1,50000,1,37,...,14470.0,1157,13313.0,0.966,1207,21,0.909,0.080,0.000055,0.999940
20,806165208,0,47,1,1,1,0,70000,1,42,...,20979.0,1800,19179.0,0.906,1178,27,0.929,0.086,0.000057,0.999940
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10119,716893683,1,55,0,3,5,2,70000,1,47,...,14657.0,2517,12140.0,0.166,6009,53,0.514,0.172,0.996910,0.003088
10123,710638233,1,41,1,2,3,0,50000,1,25,...,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511,0.995270,0.004729
10124,716506083,1,44,0,1,3,1,20000,1,36,...,5409.0,0,5409.0,0.819,10291,60,0.818,0.000,0.997880,0.002118
10125,717406983,1,30,1,2,2,1,50000,1,36,...,5281.0,0,5281.0,0.535,8395,62,0.722,0.000,0.996710,0.003294
10126,714337233,1,43,0,2,2,1,20000,2,25,...,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377

In [5]:
scaler = MinMaxScaler()
data_val = Churners.values
Churners = pandas.DataFrame(scaler.fit_transform(data_val))
columns = pandas.DataFrame(Churners_original.columns[0:23])
Churners.columns = columns[0]

Churners

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,0.041396,0.0,0.409091,1.0,0.4,0.4,0.5,0.272727,0.0,0.534884,...,0.077747,0.495431,0.079970,0.972136,0.041042,0.114754,0.595355,0.311311,0.000047,0.999950
1,0.005884,0.0,0.363636,1.0,1.0,1.0,0.5,1.000000,0.0,0.418605,...,0.160522,0.582837,0.152928,0.550310,0.049066,0.262295,0.478536,0.217217,0.000183,0.999820
2,0.035869,0.0,0.704545,0.0,0.4,0.4,0.5,0.000000,0.0,0.813953,...,0.030162,0.270163,0.050792,0.828173,0.075268,0.155738,0.429979,0.279279,0.000106,0.999900
3,0.010345,0.0,0.431818,0.0,0.4,0.4,0.5,0.272727,0.0,0.558140,...,0.393972,0.459674,0.385652,0.654799,0.049492,0.090164,0.639690,0.080080,0.000047,0.999950
4,0.815584,0.0,0.477273,1.0,0.2,0.2,0.0,0.454545,0.0,0.674419,...,0.590751,0.715137,0.555617,0.608359,0.047433,0.139344,0.653765,0.086086,0.000049,0.999950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9197,0.073261,1.0,0.659091,0.0,0.6,1.0,1.0,0.454545,0.0,0.790698,...,0.399626,1.000000,0.351665,0.035604,0.390471,0.352459,0.361717,0.172172,0.997708,0.002287
9198,0.021245,1.0,0.340909,1.0,0.4,0.6,0.0,0.272727,0.0,0.279070,...,0.085819,0.868494,0.060499,0.529412,0.586097,0.483607,0.480647,0.511512,0.996067,0.003929
9199,0.070038,1.0,0.409091,0.0,0.2,0.6,0.5,0.000000,0.0,0.534884,...,0.120042,0.000000,0.156637,0.541022,0.694525,0.409836,0.575651,0.000000,0.998679,0.001317
9200,0.077530,1.0,0.090909,1.0,0.4,0.4,0.5,0.272727,0.0,0.534884,...,0.116172,0.000000,0.152928,0.321207,0.559895,0.426230,0.508093,0.000000,0.997508,0.002493
9201,0.052004,1.0,0.386364,0.0,0.4,0.4,0.5,0.000000,1.0,0.279070,...,0.270566,0.779102,0.244082,0.451238,0.694738,0.418033,0.456721,0.189189,0.997418,0.002576

In [6]:
Churners.iloc[:,1:].to_csv("BankChurnersUpdated.csv", index=False)